:root {
  --accent-font-family: 'Poppins', sans-serif;
  --primary-font-family: 'Noto Sans', sans-serif;
  --light-grain-color: #F0EBE9;
  --grain-color: #D7CEC7;
  --blackboard-color: #565656;
  --oxblood0color: #76323F;
  --tan-color: #C09F80;
}

body {
    font-family: var(--primary-font-family)
}

.header {
    font-family: var(--accent-font-family);
    font-size: 32px;

    color: var(--blackboard-color);
    margin: 10px -15px;
}

.content {
    background-color: var(--light-grain-color);
    border-radius: 15px;
    padding: 15px;
}
